.icon {
    background-image: url(../img/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.icon_search {
    width: 19px;
    height: 20px;
    background-position: -152px -5px;
}
.icon_phone {
    width: 13px;
    height: 17px;
    background-position: -5px -102px;
}
.icon_cart {
    width: 17px;
    height: 16px;
    background-position: -81px -5px;
}
.icon_burger {
    width: 24px;
    height: 23px;
    background-position: -5px -5px;
    cursor: pointer;
}
.icon_filter {
    width: 19px;
    height: 15px;
    background-position: -31px -66px;
}
.icon_phone-white {
    width: 15px;
    height: 15px;
    background-position: -29px -102px;
}
.icon_email {
    width: 16px;
    height: 11px;
    background-position: -5px -66px;
}
.icon_plus {
    width: 20px;
    height: 20px;
    background-position: -98px -102px;
}
.icon_minus {
    width: 20px;
    height: 20px;
    background-position: -87px -66px;
}
.icon_car {
    width: 28px;
    height: 19px;
    background-position: -43px -5px;
}
.icon_moon {
    width: 26px;
    height: 26px;
    background-position: -117px -66px;
}
.icon_date {
    width: 34px;
    height: 32px;
    background-position: -108px -24px;
}
.icon_pin {
    width: 34px;
    height: 32px;
    background-position: -54px -96px;
}
.icon_time {
    width: 34px;
    height: 32px;
    background-position: -166px -70px;
}
