.footer
	.footer__top
		.container
			.footer__menu
				ul.footer__menu-list
					li.footer__menu-item
						.footer__menu-elem
							a(href="#").footer__menu-link
								| О магазине
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Почему мы?
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Отзывы
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Скидки
					li.footer__menu-item
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Гарантии
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Возврат денежных средств
						.footer__menu-elem
							a(href="#").footer__menu-link.footer__menu-indent
								| Корпоративные букеты <br> и подарки
					li.footer__menu-item
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Доставка
						.footer__menu-elem
							a(href="#").footer__menu-link
								| Доставка в праздничные дни
						.footer__menu-elem
							a(href="#").footer__menu-link.footer__menu-indent
								| Спецпредложения <br> к праздникам
	.footer__bottom
		.container
			.footer__copyright
				| Служба доставки цветов &#174; 2016
			.footer__contacts
				.contacts__tel
					.contacts__tel-icon
						.icon.icon_phone-white
					a(href="tel:83515672146").contacts__tel-link
						span 
							| 8 (351)
						| 
						| 567 21 46
				.contacts__email
					.contacts__email-icon
						.icon.icon_email
					a(href="mailto:buket@mail.ru").contacts__email-link
						| e-mail: buket@mail.ru