head
	meta(charset='utf-8')
	title maki
	meta(name="keywords" content="")
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width")
	link(href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"
	rel="stylesheet" type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet")
	link(rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
	link(type="text/css" rel="stylesheet" href="css/layout/jquery.fancybox.css")
	link(type="text/css" rel="stylesheet" href="css/layout/jquery.fancybox-thumbs.css")
	link(type="text/css" rel="stylesheet" href="css/layout/lightslider.min.css")
	link(type="text/css" rel="stylesheet" href="css/layout/timedropper.min.css")
	link(type="text/css" rel="stylesheet" href="css/main.css")