.news
	.news-heading__wrap
		.section__title
			| Новости
		a(href="#").news__show-all
			| Все новости
	ul.news__list
		li.news__item
			a(href="#").news__link-img
				img(src="./img/news-img/couple.jpg" alt="").news__img
				.news__hover
					| Читать...
			.news__date
				| 01.01.2016
			.news__title
				a(href="#").news__link
					| С Новым годом 2016!
		li.news__item
			a(href="#").news__link-img
				img(src="./img/news-img/ny.jpg" alt="").news__img
				.news__hover
					| Читать...
			.news__date
				| 01.01.2016
			.news__title
				a(href="#").news__link
					| Как украсить дом к Новому году?
		li.news__item
			a(href="#").news__link-img
				img(src="./img/news-img/gift.jpg" alt="").news__img
				.news__hover
					| Читать...
			.news__date
				| 01.01.2016
			.news__title
				a(href="#").news__link
					| Розыгрыш новогоднего подарка