.partners
	.section__title
		| Наши клиенты
	.partners__slider
		ul.partners__list.slider
			li.partners__item
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name1.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name2.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name3.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name4.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name5.png" alt="").partner__img
			li.partners__item
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name1.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name2.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name3.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name4.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name5.png" alt="").partner__img
			li.partners__item
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name1.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name2.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name3.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name4.png" alt="").partner__img
				.partner
					a(href="#").partner__link
						img(src="img/partners/business-name5.png" alt="").partner__img