.products__slider
	.section__title 
		| Вас может заинтересовать
	ul.products__list.slider
		li.products__slider-item
			.products__slider-elem
				img(src="./img/icons/sales.png" alt="").product__sales-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/ny-present.jpg" alt="").product__img
						.product__title
							| Новогодний подарок
					.product__sum
						| 2000 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.products__slider-elem
				img(src="./img/icons/new.png" alt="").product__new-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/rose-1001.jpg" alt="").product__img
						.product__title
							| Букет из красных роз,<br> 1000 шт.
					.product__sum
						| 5589 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.tablet-clearfix
			.products__slider-elem
				img(src="./img/icons/promotion.png" alt="").product__promotion-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/flowers-raffaello.jpg" alt="").product__img
						.product__title
							| Букет из альстромерий <br> и коробка конфет Rafaello
					.product__sum
						| 1562 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.products__slider-elem
				img(src="./img/icons/new.png" alt="").product__new-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/blue.png" alt="").product__img
						.product__title
							| Букет из красных роз,<br> 1000 шт.
					.product__sum
						| 5589 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.tablet-clearfix
			.desctop-clearfix
		li.products__slider-item
					.products__slider-elem
						img(src="./img/icons/sales.png" alt="").product__sales-icon
						.product
							a(href="products-info.html").product__link
								.product__img-wrap
									img(src="img/products-img/ny-present.jpg" alt="").product__img
								.product__title
									| Новогодний подарок
							.product__sum
								| 2000 руб.
							a(href="products-info.html").product__order-btn
								| Заказать
					.products__slider-elem
						img(src="./img/icons/new.png" alt="").product__new-icon
						.product
							a(href="products-info.html").product__link
								.product__img-wrap
									img(src="img/products-img/rose-1001.jpg" alt="").product__img
								.product__title
									| Букет из красных роз,<br> 1000 шт.
							.product__sum
								| 5589 руб.
							a(href="products-info.html").product__order-btn
								| Заказать
					.tablet-clearfix
					.products__slider-elem
						img(src="./img/icons/promotion.png" alt="").product__promotion-icon
						.product
							a(href="products-info.html").product__link
								.product__img-wrap
									img(src="img/products-img/flowers-raffaello.jpg" alt="").product__img
								.product__title
									| Букет из альстромерий <br> и коробка конфет Rafaello
							.product__sum
								| 1562 руб.
							a(href="products-info.html").product__order-btn
								| Заказать
					.products__slider-elem
						img(src="./img/icons/new.png" alt="").product__new-icon
						.product
							a(href="products-info.html").product__link
								.product__img-wrap
									img(src="img/products-img/blue.png" alt="").product__img
								.product__title
									| Букет из красных роз,<br> 1000 шт.
							.product__sum
								| 5589 руб.
							a(href="products-info.html").product__order-btn
								| Заказать
					.tablet-clearfix
					.desctop-clearfix
		li.products__slider-item
			.products__slider-elem
				img(src="./img/icons/sales.png" alt="").product__sales-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/ny-present.jpg" alt="").product__img
						.product__title
							| Новогодний подарок
					.product__sum
						| 2000 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.products__slider-elem
				img(src="./img/icons/new.png" alt="").product__new-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/rose-1001.jpg" alt="").product__img
						.product__title
							| Букет из красных роз,<br> 1000 шт.
					.product__sum
						| 5589 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.tablet-clearfix
			.products__slider-elem
				img(src="./img/icons/promotion.png" alt="").product__promotion-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/flowers-raffaello.jpg" alt="").product__img
						.product__title
							| Букет из альстромерий <br> и коробка конфет Rafaello
					.product__sum
						| 1562 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.products__slider-elem
				img(src="./img/icons/new.png" alt="").product__new-icon
				.product
					a(href="products-info.html").product__link
						.product__img-wrap
							img(src="img/products-img/blue.png" alt="").product__img
						.product__title
							| Букет из красных роз,<br> 1000 шт.
					.product__sum
						| 5589 руб.
					a(href="products-info.html").product__order-btn
						| Заказать
			.tablet-clearfix
			.desctop-clearfix