.product-info
	.clearfix-wrap
		.product-info__right
			.product-descr__wrap
				.product-descr__title
					| Нежный букет из роз
				.product-order__wrap 
					.product-order__top
						.product-order__amount
							.product-order__price
								span.product-order__number
									| 2350
								span.product-order__currency
									| руб.
							.product-order__quantity
								span 
									| Количество
								.order__quantity-wrap
									.order__quantity-minus
										.icon.icon_minus
									input(type="text" value="1").order__quantity-value
									.order__quantity-plus
										.icon.icon_plus
						.product-order__btn
							a(href="#").order__btn
								| Заказать
					.product-order__bottom
						.product-order__text
							p При заказе букета вы получите 3% бонусов или 90 рублей.
							p Вы их можете использовать при следующем заказе.
						.product-order__hidden
							.product-order__addedCart
								| Товар добавлен в корзину
							a(href="#").product-order__removeCart
								| Удалить из корзины
				.product__delivery
					.product__delivery-title
						| Доставка
					.product__delivery-row
						.product__delivery-icon
							.icon.icon_car
						.product__delivery-text
							| С 9.00 до 24.00 - 
							span.product__delivery-sum
								| 500 руб.
					.product__delivery-row
						.product__delivery-icon
							.icon.icon_moon
						.product__delivery-text
							| Доставка в ночное время - 
							span.product__delivery-sum
								| 700 руб.
				.product__descr
					.product__descr-title
						| Описание буклета
					.product__descr-text
						p Шикарный букет из 24 крупных роз с легко читаемым подтекстом. В этой композиции 24 алых цветка и всего лишь один бутон белоснежный. Сам букет собран в форме сердца, огромного страстного сердца в котором живет всего одна, единственная, непохожая ни на кого, роза. Букет «Только ты» – отличный выбор для первого признания или предложения руки и сердца. Он так же может стать той самой «оливковой ветвью» мира при ссоре – перед искренностью такого признания не устоит ни одно женское сердце. Роскошный букет алых роз будет отличным подарком и самым романтичным признанием в любви.
		.product-info__left
			.product-slideshow
				.product-slideshow__display
					img(src="img/products-img/slideshow-rose.jpg" alt="")
				ul.product-slideshow__list
					li.product-slideshow__item
						a(href="http://maki74.ru/wp-content/uploads/2016/11/%D0%A2%D1%8E%D0%BB%D1%8C%D0%BF%D0%B0%D0%BD%D1%8B-%D0%B2-%D0%BA%D1%80%D0%B0%D1%84%D1%82%D0%B5.png").product-slideshow__pic
							img(src="http://maki74.ru/wp-content/uploads/2016/11/%D0%A2%D1%8E%D0%BB%D1%8C%D0%BF%D0%B0%D0%BD%D1%8B-%D0%B2-%D0%BA%D1%80%D0%B0%D1%84%D1%82%D0%B5.png" alt="")
					li.product-slideshow__item
						a(href="http://maki74.ru/wp-content/uploads/2016/11/%D0%A0%D0%B0%D0%B4%D1%83%D0%B6%D0%BD%D1%8B%D0%B9-%D0%BF%D0%B5%D1%80%D0%B5%D0%B4.png").product-slideshow__pic
							img(src="http://maki74.ru/wp-content/uploads/2016/11/%D0%A0%D0%B0%D0%B4%D1%83%D0%B6%D0%BD%D1%8B%D0%B9-%D0%BF%D0%B5%D1%80%D0%B5%D0%B4.png" alt="")
					li.product-slideshow__item
						a(href="http://maki74.ru/wp-content/uploads/2016/10/%D0%AF%D1%89%D0%B8%D0%BA-%D1%81%D0%BF%D0%B5%D1%80%D0%B5%D0%B4%D0%B8.png").product-slideshow__pic
							img(src="http://maki74.ru/wp-content/uploads/2016/10/%D0%AF%D1%89%D0%B8%D0%BA-%D1%81%D0%BF%D0%B5%D1%80%D0%B5%D0%B4%D0%B8.png" alt="")
			.product__feedbacks
				.feedbacks
					.feedbacks__header
						.feedbacks__title
							| Отзывы покупателей
						.feedbacks__amount
							| 2 отзыва
					.feedbacks__list
						.feedbacks__item
							.feedback
								.feedback__row
									.feedback__date
										| 01.01.16
								.feedback__row.feedback__row_rate
									.feedback__author
										| Михаил Святославович
									.feedback__rate
										.product__rate
											img(src="img/icons/stars.png" alt="")
								.feedback__row
									.feedback__text
										p Канна. Название интересное, цветок тропический. В диком виде в нашей стране она не произрастает, а вот на клумбах наших городов часто можно встретить Канну причём в основном красных оттенков почему то. На самом деле Канна...
						.feedbacks__item
							.feedback
								.feedback__row
									.feedback__date
										| 01.01.16
								.feedback__row.feedback__row_rate
									.feedback__author
										| Светлана Алексеева
									.feedback__rate
										.feedback__rate
											.product__rate
												img(src="img/icons/stars.png" alt="")
								.feedback__row
									.feedback__text
										p Быстрая доставка. Сервис на уровне. Спасибо большое!!!
					.feedbacks__link
						a(href="#").feedbacks__link-elem
							| Показать еще
					.feedback__form
						.feedback__form-header
							.feedback__form-title
								| Написать отзыв:
							.feedback__form-rate
								<input type="radio" name="rating-post" value="1"><i></i>
								<input type="radio" name="rating-post" value="2"><i></i>
								<input type="radio" name="rating-post" value="3"><i></i>
								<input type="radio" name="rating-post" value="4"><i></i>
								<input type="radio" name="rating-post" value="5"><i></i>
						.feedback__form-textarea
							textarea
						.feedback__form-btn
							input(type="submit" name="feedback" value="Отправить").feedback__form-submit